# Compiled files
*.pyc
*.pyo
*.pyd
*.whl

# bytecode files
*.py[cod]

# Cache files
__pycache__/
*.pyc

# Packages
*.egg
*.egg-info
dist/
build/
.eggs/
.tox/

# virtualenv
my_env/
venv/
.env/
env/

# Test logs and reports
*.log
*.log.*
.tox/
.coverage
.coverage.*
htmlcov/
coverage.xml

# Configuration files
*.ini
*.env

# Tipos de arquivos:

*.pem
*.ppk