.menu1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.1rem solid lightgray;
}

.menu1 h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu1 h1 a {
    color: inherit;
}

.menu1 ul {
    list-style: none;
    display: flex;
  }
  
.menu1 ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    text-decoration: none;
    position: relative;
}

.menu1 ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--secondary-color);
    transition: all 300ms ease-in-out;
  }
  
.menu1 ul li a:hover::after {
    width: 50%;
    left: 25%;
  }

.menu-cont1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}